@model Lab8.Models.Car

<h1>Create Car</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-group mb-2">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label>Car Model</label>
        <select asp-for="CarModelId"
                class="form-control"
                asp-items="ViewBag.CarModelList">
            <option value="">-- Select Car Model --</option>
        </select>
        <span asp-validation-for="CarModelId" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label>Car Image</label>
        <input type="file" name="ImageFile" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
