@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">   
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a demo application for learning ASP.NET Core MVC with Entity Framework Core.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from stratch</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Dowload Lab</h2>
        <p><a class="btn btn-default" href="https://google.com">See source code &raquo;</a></p>
    </div>
</div>
