@model Lab8.Models.CarModel

@{
    ViewData["Title"] = "Car Model Details";
}

<h2>Car Model Details</h2>

<div class="card p-3 mb-3">
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Brand:</strong> @Model.Brand?.Name</p>
</div>




<a asp-action="Index" class="btn btn-secondary mt-3">Back</a>
